services:
  postgres-db:
    image: postgres:14-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: restaurant
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - app-network
  app:
    build: .
    container_name: restaurant-app
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/restaurant
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    ports:
      - "9010:9010"
    networks:
      - app-network
volumes:
  pg_data:

networks:
  app-network:
    external: true
